{
  "SitePath" : "C:\\Users\\Jabbari\\Downloads\\sitescan.htm",
  "WsvToken":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1bmlxdWVfbmFtZSI6IjEzODAzOTY1NDkiLCJuYW1laWQiOiIxMjAzIiwiQXNwTmV0LklkZW50aXR5LlNlY3VyaXR5U3RhbXAiOiJESjc3WEIzSUZONExWQlNCWlVRWktRSkpGTDY2WVBZSiIsInJvbGUiOlsiU21zUm9sZSIsIlNhYnRBaHZhbFJvbGUiLCJPbmxpbmVQYXltZW50Um9sZSIsIlNhbmRvZ2hSb2xlIiwiRW1haWxSb2xlIiwiU2FraGFSb2xlIl0sIm5iZiI6MTYzOTY3MTM4MywiZXhwIjoxNjU1MjIzMzgzLCJpYXQiOjE2Mzk2NzEzODMsImlzcyI6IkVtZGFkSW50ZXJuZXQiLCJhdWQiOiJFbWRhZEludGVybmV0In0.QjxFSFVJDa-gHKfINsB2e6llB9oUtmhcEILYWyzEtnU",
  "WsvUser":"",
  "WsvPass":"",
  "project_Config":
    [
        {
          "projectname": "Dade Tamin",
          "project_isonline": "1",
          "SQL_server" : "LIg===",
          "SQL_username" : "zc82E=",
          "SQL_password" : "MTIz",
          "SQL_database_name" : "RW91kYWRfTW9zyaGFyZWthdFA==",
          "SQL_port" : "1433",
          "SqlType" : "Mssql",
          "OsType" : "Windows",
          "DiskPath" : "['c:;50','e:;50']",
          "DbBackupPath" : "false",
          "WebService":"['http://91.224.111.79/api/Behzisti/BehzistiPing']",
          "logPath" : "C:\\Users\\Jabbari\\Downloads\\",
          "errorLogPath" : "C:\\Users\\Jabbari\\Downloads\\",
          "MinimumDiskSize": "10",
          "LastBackupDate": "1",
          "Serial1":"0000000000",
          "Serial2":"0000000000",
          "offline_sitePath" : "C:\\Users\\Jabbari\\Downloads\\",
          "offline_history" : "10",
          "saveToFile":"1",
          "readFromFile":"1"
          
        }
        
    ]

}
